/node_modules
/public/hot
/public/storage
/public/template
/public/doc
/storage/*.key
/vendor
.env
.env.prod
.env.demo
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
.phpintel/
.DS_STORE
