 @font-face {
    font-family: 'Segoe UI Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Regular'), url('../fonts/Segoe UI.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Italic'), url('../fonts/Segoe UI Italic.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold'), url('../fonts/Segoe UI Bold.woff') format('woff');
}


@font-face {
    font-family: 'Segoe UI Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Segoe UI Bold Italic'), url('../fonts/Segoe UI Bold Italic.woff') format('woff');
}

body {
    /*background-color: rgb(242 242 242);*/
    background-color: rgb(251 246 241);
    font-family: 'Segoe UI Regular' !important;
}

.clear-fix
{
    clear: both;
}

.form_1A_link
{
    text-decoration: underline;
}

.w--200
{
    width: 200%;
}

.w--20
{
    width: 20%;
}

.w--60
{
    width: 60%;
}

.lightish-yellow
{
    background: #E9C46A !important;
}

.lightish-yellow-border
{
    border-color: #E9C46A !important;
}

.darkish-yellow
{
    background: #F4A261 !important;
}

.bg-light-trans
{
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.bg-light-trans .search-input
{
    color: #fff;
}

.dashboard-bg-image
{
    background-image: url('../images/svg/linesx2.png') !important;
    background-size: 35rem;
    background-position: center center !important;
}

.btn-danger-sm {
    background: #F64E60 !important;
    border-color: #F64E60 !important;
    font-size: 1rem;
    padding: 1rem;
    color: #fff;
}

.svg-icon.svg-icon-10x svg {
    height: 10rem !important;
    width: 10rem !important;
    transition: all .5s;
}

.svg-icon.svg-icon-10x:hover svg {
    height: 12rem !important;
    width: 12rem !important;
}

.align__center {
    align-items: center;
}

.mt__n80 {
    margin-top: -80px;
}

.justify-content-centre {
    justify-content: center !important;
}

.text-black-custom {
    color: #464E5F;
}

.nav.nav-pills .show>.nav-link,
.nav.nav-pills .nav-link.active {
    color: #ffffff;
    background-color: #484B74 !important;
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
}

.nav .show>.nav-link .nav-text,
.nav .nav-link:hover:not(.disabled) .nav-text {
    transition: color 0.15s ease, background-color 0.15s ease, border-color 0.15s ease, box-shadow 0.15s ease, -webkit-box-shadow 0.15s ease;
    color: #484B74 !important;
}

.form-control-declaration,
.form-control-declaration:focus,
.form-control-declaration:active {
    display: inline-block;
    height: calc(1.5em + 1.3rem + 2px);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #464E5F;
    background-color: #ffffff;
    background-clip: padding-box;
    margin-bottom: 5px;
    border-bottom: 1px solid #E5EAEE;
    border-top: none;
    border-left: none;
    border-right: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    outline: none;
}

.w--50 {
    width: 50%;
}

.w--30 {
    width: 30%;
}

.text_dark_blue {
    color: #484b74;
}

.flatpickr-day.selected:hover,
.day.endRange:hover {
    background: #227a4e !important;
    box-shadow: none;
    color: #fff;
    border-color: #227a4e !important;
}

.flatpickr-day:hover {
    background: #227a4e !important;
    box-shadow: none;
    color: #fff !important;
    border-color: #227a4e !important;
}

.flatpickr-day.today {
    background: #227a4e !important;
    box-shadow: none;
    color: #fff;
    border-color: #227a4e !important;
}

.flatpickr-day.startRange {
    background: #227a4e !important;
    box-shadow: none;
    color: #fff;
    border-color: #227a4e !important;
}

.justify-content-end {
    justify-content: end;
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 #227a4e !important;
    box-shadow: -10px 0 0 #227a4e !important;
}

.flatpickr-day.selected.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.startRange.startRange+.endRange:not(:nth-child(7n+1)),
.flatpickr-day.endRange.startRange+.endRange:not(:nth-child(7n+1)) {
    -webkit-box-shadow: -10px 0 0 #227a4e;
    box-shadow: -10px 0 0 #227a4e;
}


.greyed-out {
    background: #f2f2f2 !important;
}

.radio-inline .radio span {
    margin-right: 0.75rem;
    margin-left: 5px;
}

.text-black {
    color: #242424;
    font-size: 1.5rem;
}

.menu-item>.menu-link .menu_icon_custom {
    flex: 0 0 35px;
    font-size: 1.3rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    line-height: 0;
}

.flatpickr-day.selected {
    background: #135c40;
    box-shadow: none;
    color: #fff;
    border-color: #135c40;
}

.flatpickr-day.selected:hover {
    background: #135c40;
    box-shadow: none;
    color: #fff;
    border-color: #135c40;
}

.flatpickr-day:hover {
    background: #135c40;
    color: #fff;

}

.header-mobile .burger-icon:hover span {
    background-color: #fff;
}

.autoComplete>p {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #272525;
    text-align: center;
    border-top: 1px solid #fff;
}

.btn.btn-warning {
    color: #ffffff;
    background-color: #FFA800;
    border-color: #FFA800;
    margin: 1rem;
}

.justify-content-flex-end {
    justify-content: flex-end;
}

.cr-pointer {
    cursor: pointer;
}

.fs--100 {
    font-size: 100%;
}

.mw-10 {
    max-width: 10%;
}

.text-black-sm {
    color: #242424;
    font-size: 1.2rem;
}

.hide {
    display: none;
}

.mw-40 {
    max-width: 40%;
}

.bb_home {
    border-bottom: 3px solid #123237;
}

.mr__10 {
    margin-right: 10px;
}

.turbolinks-progress-bar {
    height: 5px;
    background-color: #1BC5BD;
}

.login.login-3.login-signin-on .login-signup {
    display: block;
}

.login.login-3 .login-signin,
.login.login-3 .login-signup,
.login.login-3 .login-forgot {
    display: block;
}

.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-heading .menu-bullet.menu-bullet-line>span,
.aside-menu .menu-nav>.menu-item .menu-submenu .menu-item:not(.menu-item-parent):not(.menu-item-open):not(.menu-item-here):not(.menu-item-active):hover>.menu-link .menu-bullet.menu-bullet-line>span {
    background-color: #227a4e !important;
}

select.form-control:not([size]):not([multiple]) {
    height: calc(2.25rem + 14px);
}

.hero {
    height: 100px;
    padding: 9rem 0;
}

.doc-cursor-pointer {
    cursor: pointer;
}

section#orderWizard {
    padding: 1rem 0;
}

.form__spacing {
    margin-top: 10px;
    margin-bottom: 35px;
}

.form__bottom {
    margin-bottom: -35px;
}

.table .thead-fccpc th {
    color: #fff;
    background-color: #2eca6a;
    border-color: #14a94d;
}

.modal_guideline__header {
    font-weight: bolder !important;
    text-align: center !important;
    font-size: 17px;
    text-decoration: underline;
}

.modal_guideline__sub__header {
    font-weight: bolder !important;
    text-align: center !important;
    font-size: 15px;
    text-decoration: underline;
}

.mg-bt {
    margin-bottom: 10px;
}

.uploadButton {
    position: relative;
    cursor: pointer;
}

.uploadButton input {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    margin: 0;
    z-index: 10;
    opacity: 0;
    cursor: pointer;
    margin-top: 0;
    color: #006535;
    background-color: #006535;
    border-color: transparent;
}

.btn--brand {
    background: #006535;
    color: #fff;
}

.btn--brand:hover {
    background: #04AA77;
    color: #fff;
}

.footer-brand-logo img {
    vertical-align: baseline;
}

.mb_15 {
    margin-bottom: 15px !important;
}

.mb_30 {
    margin-bottom: 30px !important;
}

.maxh_130 {
    max-height: 130px !important;
}

.sub-header-desktop {
    margin-right: 0.25rem !important;
    -webkit-box-align: center !important;
    align-items: center !important;
    flex-wrap: wrap !important;
    display: flex;
}

.sub-header-mobile {
    display: none;
}

.bg-disabled {
    background: #ccc;
}

.text-disabled,
.text-link-disabled a {
    color: #ccc;
}

.display__block {
    display: block;
}

.mr_5 {
    margin-right: 5px;
}

.mr_10 {
    margin-right: 10px;
}

.p_mb_20 p {
    margin-bottom: 20px;
}

@media only screen and (max-width: 768px) {

    .checklist-list {
        margin-top: -10px;
    }

    .subheader-applicants {
        margin-top: 58px  !important;
    }

    .sm-d-flex{

        flex-direction: column !important;
        padding: .2rem;
    }



    .sub-header-mobile {
        margin-right: 0.25rem !important;
        -webkit-box-align: center !important;
        align-items: center !important;
        flex-wrap: wrap !important;
        display: flex !important;
    }

    .sub-header-desktop {
        display: none;
    }

    .mt-sm-10 {
        margin-top: 10px;
    }
}

.subheader {
    background: #fff;
    -webkit-box-shadow: 0px 5px 15px rgba(106, 127, 130, 0.09);
    box-shadow: 0px 5px 15px rgba(106, 127, 130, 0.09);
}

.bg-success {
    background: #006535 !important;
}

.bg-success .text-black {
    color: #fff !important;
}

/* .card__with__bg {

    background-position: center right;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    transition: all .8s ease-in-out;
    height: 35vh !important ;
    padding: 1.5rem 0 !important;
} */

.box-scroll {
    padding: 20px 50px 0px 30px;
    color: rgb(116, 124, 142);
    font-size: 15px;
    overflow: auto;
    height: 200px;
}

.dashboard-card {
    position: relative;
    width: 100%;
    height: 15vh auto;
    padding: 2rem 3rem;
    background: #1F877A;
    box-shadow: 0px 0px 15px rgba(2, 2, 2, 0.2);

    border-radius: .5rem;
    background-image: url('../images/svg/linesx2.png');
    background-size: 35rem;
    background-position: center center;
    cursor: pointer;
    background-repeat: no-repeat;
    backface-visibility: hidden;
    transition: all .8s ease-in-out;
}

.dashboard-card:hover {
    transform: translateY(-10px);
}

.dashboard-card p {
    text-transform: uppercase;
    color: #FAF3DD;
    /* font-size: 1.5rem; */
}

.dashboard-card span {
    color: #fff;
    font-size: 2rem;
    margin-top: -5px;
}

.dashboard-card img {
    position: absolute;
    top: 4rem;
    right: 3rem;
}

.dashboard-card.purple {
    background: #484B74;
    background-image: url('../images/svg/linesx2.png');
    background-size: 35rem;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.dashboard-card.blue {
    background: #05668D;
    background-image: url('../images/svg/linesx2.png');
    background-size: 35rem;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.dashboard-card.orange {
    background: #F4A261;
    background-image: url('../images/svg/linesx2.png');
    background-size: 35rem;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.dashboard-card.redish-orange {
    background: #E76F51;
    background-image: url('../images/svg/linesx2.png');
    background-size: 35rem;
    background-position: center center;
    background-repeat: no-repeat;
    backface-visibility: hidden;
}

.checklist-list {

    margin: 1rem .2rem;
    padding: 2rem 0;

}

a.checklist-list {

    font-size: 1rem;
    text-decoration: underline;
}

.card__with__bg:hover,
.card__with__bg:focus,
.card__with__bg:visited {
    -webkit-transform: translateX(1rem) !;
    transform: translateX(1rem);
}

.yellow__info-box {
    width: auto;
    height: 10rem auto;
    padding: 2rem 1.5rem;
    background: #f0f3bd;
    border-radius: 0.3rem;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.yellow__info-box .yellow__info-box-icon {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

.yellow__info-box .yellow_info-box-body {
    position: relative;
    left: 1rem;
    padding: 2rem;
}

.yellow__info-box .yellow_info-box-body .yellow_info-box-content {
    text-align: left;
    font-size: 1.5rem;
    font-weight: 600;
    color: #227a4e;
}

#kt_aside_menu_wrapper {
    background-color: #135c40 !important;
}

.aside,
.brand {
    background-color: #123237 !important;
    height: 65px;
}

.aside-menu {
    background-color: #135c40 !important;
}

.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-heading,
.aside-menu .menu-nav>.menu-item.menu-item-active>.menu-link {
    background-color: #135c40 !important;
    font-size: 3rem !important;
}

.aside-menu .menu-nav>.menu-item {
    position: relative;
    margin: 0;
    margin: 20px 0;
}

.aside-menu .menu-nav>.menu-item>.menu-link {
    padding: 25px;
}

.brand-logo {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
}

.menu-text {
    color: #fff !important;
}

.header-top-custom {
    width: 100%;
    background-color: #135c40 !important;
}

.topbar {
    display: flex !important;
    justify-content: end;
    margin: 10px 0;
    position: absolute;
    top: 0;
    right: 10px;
}

.map {
    position: absolute;
    top: 0px;
    left: 15px;
    color: #fff !important;
    margin: 10px 0;
}

.map h3 {
    color: #fff !important;
}

/*  */

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    color: #3F4254;
    padding: 1rem 1rem;
    line-height: 1.5;
}

.notifications-cards {
    width: 100%;
    height: auto;
    padding: 2rem;
    border: 1px solid #E9E9E9;
    box-sizing: border-box;
    border-radius: 4px;
    margin: 1rem 0;
}

.notifications-cards .not_label {
    width: auto;
    margin: 1rem 0;
    padding: 1rem;
    border-radius: 4px;
    font-weight: bold;
    text-align: left;
}

.notifications-cards .not_label.label-success {
    color: #1F877A;
    background: #E5F9F5;
}

.notifications-cards .not_label.label-warning {
    color: #F4A261;
    background: #FAF3DD;
}

.notifications-cards .subject {
    font-weight: 600;
    font-size: 1rem;
    color: #4F4F4F;
}

.notifications-card-col {
    margin: 1rem;
}

.notifications-card-col:nth-child(1) {
    margin-left: 0px;
}

.notifications-card-col .title, .notifications-cards .firm {
    font-weight: 600;
    font-size: 12px;
    color: #829496;
    text-transform: uppercase;
}

.notifications-cards .message {
    font-weight: 500;
    font-size: 12px;
    color: #4F4F4F;
}

.notifications-card-col .description {
    font-size: 11px;
    color: #4F4F4F;
}

/* // */

@media (max-width: 991.98px) {
    .header-mobile {
        background-color: #227a4e !important;
    }

    .hide-small-md {
        display: none !important;
    }


}

.search-input {
    border-top-left-radius: 5px !important;
    border-bottom-left-radius: 5px !important;
}

.autoComplete {
    width: 100%;
    height: 300px;
    margin: .3rem 0;
    background: #fff;
    box-shadow: 0px 5px 15px rgba(106, 127, 130, 0.09);
    border-radius: .2rem;
    overflow-y: scroll;
    z-index: 100;
    display: none;

    /* border-top: 2px solid #999; */
}

.autoComplete>a {
    display: block;
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #272525;
    border-top: 1px solid rgb(6 24 27 / 9%);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.autoComplete>a:nth-child(1) {
    padding: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #272525;
    border-top: 1px solid #fff;
    cursor: pointer;
}

.autoComplete>a:hover {
    background-color: #135c40;
    color: #fff;
}

#deficient-basket {
    padding: 6px 13px !important;
}

#deficient-basket .svg-icon.svg-icon-xl svg {
    height: 2.5rem !important;
    width: 2.5rem !important;
}

#deficient-basket .checklist-deficient-count {
    padding: .3rem .7rem;
    background: rgb(168, 60, 60);
    border-radius: 1rem;
    color: #fff;
    font-size: .8rem;
    font-weight: 800;
}

#deficient-basket .checklist-deficient-text {
    font-size: 1.2rem;
    font-weight: 400;
    margin-left: 8px;
}

.document-uploaded {
    margin: 5px 0;
    font-size: 1rem;
    color: #14a94d;
}

.pull__right__position {
    position: relative;
    top: -20px;
    right: 0px;
}

.ribbon.ribbon-clip.ribbon-left .ribbon-target {
    left: -75px;
}

th.fees_tab__head {
    border-top: none !important;
}

.section__breaker {
    font-size: 28px !important;
    line-height: inherit;
    margin-bottom: -25px;
    margin-top: -50px;
}

@media only screen and (min-width: 280px) and (max-width: 565px) {

    .pull__right__position {
        display: none;
        position: relative;
        top: 0px;
        right: 0px;
    }

    .checklist-header {
        margin-top: 30px !important;
        font-size: 1.5rem;
    }

    .hide-small-md {
        display: none !important;
    }



}

.doc_btn__spacing {
    margin-top: -60px;
    margin-bottom: 20px;
    margin-right: -16px;
}

#generated_cases_datatable_filter {
    position: absolute;
    top: 10px;
    right: 20px;
}

#generated_cases_datatable_filter label {
    width: 100% !important;
    display: inline-block;
    margin-bottom: 0.5rem;
}



.stats-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    background: red;

}

.stats-card {
    position: relative;
    display: flex;
    height: 20rem;
    padding: 10px;
    flex-direction: column;
    background: #E9C46A;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.stats-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(2, 2, 2, 0.3);
}


.stats-card .svg-hodler {
    position: absolute;
    top: 0;
    right: 0;
}

.stats-card p {
    margin-top: 20px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
    color: #1A514A;
}

.stats-card span.main {

    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 32px;
    text-transform: capitalize;
    color: #1A514A;
}

.stats-card div.cat_container {
    margin-top: 60px;
}

.stats-card span.sub {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #1A514A;
}

.is-white {
    color: #fff !important;
}

.cat_container_divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    width: 80%;
    background-color: #fff;
}

.stats__green {
    background: #1F877A;
    border-radius: 8px;
}

.stats__warining {
    background: #E76F51;
    border-radius: 8px;
}

.stats__green p {
    color: #fff !important;
}

.stats__green span {
    color: #fff !important;
}

.stats__lightgreen {
    background: #F0F3BD;
    border-radius: 8px;
}

.stats__lightgreen span {
    margin-top: 40%;
}


/* card-box */


.card__box {
    width: auto;
    height: 12rem;
    padding: 1rem 2rem;
    border-radius: 0.6rem;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    margin: 0.2rem 1rem;
}

.card__box-stack {
    height: auto;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 1rem 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card__box-stack .card__box-stack-img {
    margin-top: 2rem;
    height: 5rem;
}

.card__box-stack .card__box--content {
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
}

.card__box-stack .card__box--content p {
    font-size: 1.2rem;
    color: #242424;
}

.home__content {
    font-size: 2rem !important;
}

.home__headers {
    font-size: 2rem !important;
    margin: 2rem 0;
    font-weight: bold;
}

.card__box-stack .card__box--content span {
    font-size: .8rem;
    color: #006535;
}

.card__box-stack:hover,
.card__box-stack:focus,
.card__box-stack:visited {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
}

.card__box-stack-active {
    border: 2px solid #006535;
}

.card__box--white {
    background: #fff;
    background-image: url("../images/png/linesx2.png");
    background-size: 40rem;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    cursor: pointer;
}

.card__box--white .card__box-text-intro {
    font-weight: bold;
    font-size: 2rem;
    color: #006535;
}

.card__box--white .card__box-text-span {
    font-size: 1.5rem;
    color: #006535;
}

.card__box--white .card__box-icon {
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
    position: absolute;
    top: 5rem;
    right: 2rem;
}

.card__box--white:hover,
.card__box--white:focus,
.card__box--white:visited {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
}

.card__box-status {
    padding: 0.5rem;
}

.card__box-status a {
    margin: 1rem;
    font-size: 1.5rem;
    color: #4f4f4f;
    text-decoration: underline;
}

.card__box__large {
    background: #fff;
    height: auto;
    /* padding-bottom: 15rem; */
}

.card__box__large .card__box__large-content {
    padding: 5rem;
}

.card__box__large .card__box__large-content .card__box__large-content--intro {
    padding: 3rem;
}

.card__box__large .card__box__large-content .card__box__large-content--intro p {
    font-size: 2rem;
}

.card__box__large .card__box__large-content .card__box__large-content--intro a {
    font-size: 2rem;
    color: #006535;
    text-decoration: underline;
}

.card__box__large .card__box__large-content--success {
    padding: 5rem 0;
    text-align: center;
}

.card__box__large .card__box__large-content--success p {
    font-size: 3rem;
    color: #006535;
}

.card__box__large .card__box__large-content--success p:nth-child(3) {
    font-size: 1.5rem;
    color: #4f4f4f;
}

.form-subtitle {
    font-size: 1rem;
    color: #A9B3BE;
}

.form-group-profile {
    margin: 4rem 0;
}

.form-group-profile label {
    font-size: 1.2rem;
    color: #4f4f4f;
}

.form-group-profile .form-control-profile {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.5rem + 2px);
    padding: 0.400rem 0.95rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f3f6f9;
    background-clip: padding-box;
    border: 1px solid #f3f6f9;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    outline: none;
}

.form-group-profile .form-control-textarea {
    display: block;
    width: 100%;
    height: calc(5.5em + 2.5rem + 2px);
    padding: 0.400rem 0.95rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #f3f6f9;
    background-clip: padding-box;
    border: 1px solid #f3f6f9;
    border-radius: 0.25rem;
    -webkit-transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
    outline: none;
}


.formBtn-success-light {
    background: #E5F9F5 !important;
    border-color: #E5F9F5 !important;
    color: #006535 !important;
    font-size: 1.2rem;
    padding: 1rem 2rem;
    margin: 1rem;
}

.formBtn-success {
    background: #227a4e !important;
    border-color: #227a4e !important;
    font-size: 1.2rem;
    padding: 1rem;
    margin: 1rem;
}

.content-box {
    padding: 1rem;
}

.content-box span {
    font-size: 1rem;
    font-weight: bold;
}

.content-box p {
    font-size: 1.2rem;
}

.label__success {
    width: 22%;
    background: #E5F9F5;
    color: #1F877A;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.label__danger {
    width: 25%;
    background: rgba(231, 40, 40, 0.15);
    color: #E72828;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5px;
}

.profile-image {
    width: 100%;
    background: #E5F9F5;
    color: #1F877A;
    font-size: 10rem;
    font-weight: bold;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.profile-image:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 15px rgba(85, 85, 85, 0.09);
}


.faq-question-header {
    font-weight: bold;
    font-size: 1.5rem;
}

.faq-question-answer {
    font-weight: 500;
    font-size: 1.2rem;
}

.height-75 {
    margin: 2rem 0;
    height: 50%;
    background: #fff;
    padding: 2rem;
    overflow-y: scroll;
}

.badge {
    position: relative;
    left: 0;
    font-size: .9rem;
    width: 2.7rem;
    padding: .4rem 0;
    background: #e76f51;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    color: #fff;
    border-radius: 20px;
    margin-right: .3rem;
}

.btn-transparent {
    background: #fff !important;
    border-color: #227a4e !important;
    font-size: 1rem;
    padding: 1rem;
    color: #227a4e;
    border-radius: 0px;
}

.notification_divider
{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
    border-top: 5px solid #E0DAD8;
}

.no-notification {
    /*margin: 1.5rem;*/
    /*padding: 1rem;*/
    background-color: #FFF;
    border-radius: 5px;
    text-align: center;
}

.no-notification span {
    font-weight: bold;
    font-size: 1.1rem;
    color: #242424;
}


.unread-title{
    color: #227a4e;
    font-weight: bold
}

.unread-clear{
    color: #227a4e;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.unread-clear:hover{
    transition: all 0.5s ease-in-out;
    font-weight: bold;
   font-size: 1.1rem;
}

.text-gray{
    font-size: .7rem;
    font-weight: lighter;
    font-style: italic;
    color: #999;
}

.mxw-15
{
    max-width: 15%;
}

.mxw-20
{
    max-width: 20%;
}

.align_icon
{
    width: 40px;
    margin-left: 30px;
}
