body {
    color: #242424 !important;
}

.container-fluid
{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.fee__CalculatorLink
{
    color: #006535;
    text-decoration: underline;
}

.fee__CalculatorLink:hover
{
    color: #006535 !important;
    text-decoration: underline !important;
}

.cr-pointer
{
    cursor: pointer;
}

.navbar {
    border-radius: 0 !important;
}

.p__20
{
    padding: 20px;
}

.bg__white
{
    background: white;
}

.fs__2rem
{
    font-size: 2rem !important;
}

.download__btn
{
    width: 20%;
    transition: all .5s;
}

.download__btn:hover
{
    width: 25%;
}

.mb__20
{
    margin-bottom: 20px;
}

.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: #227a4e !important;
    border-color: #227a4e !important;
}

.page-link {
    position: relative;
    display: block;
    padding: .5rem .75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: #227a4e;
    background-color: #fff;
    border: 1px solid #dee2e6;
}

.page-link:hover {

    z-index: 2;
    color: #227a4e;
    text-decoration: none;
    background-color: #e9ecef;
    border-color: #dee2e6;

}

.footer-info-content-text {
    font-size: 14px;
    color: #e5f9f5;
    margin-right: 1px;
}

@media only screen and (max-width: 768px) {
    .col-md-6 {
        max-width: 100%;
    }

    .row {
        display: block;
    }

    .header {
        justify-content: space-between;
    }

    .header__content {
        display: none;
    }

    .float-right-inverse{
        float: left !important;

        padding-bottom: 20px !important;
    }


    .not__found h1{
        font-size: 15rem !important;
        margin: 2rem !important;
    }

    .header-banner{

        flex-direction: column !important;

    }

    .faq-content-header {

        padding: 2rem 0;
        text-align: left;
        font-weight: bold;
        color: #242424;
        font-size: 18px;
    }

    .subheader {
        margin-top: 60px;
    }


}

.text-paragh {
    font-size: 2rem !important;
    /* margin: 2rem !important; */
    /* padding: 2rem !important; */
}

.faq-answer-header {
    font-size: 24px;
    font-weight: bolder;
    color: #080808;
    margin-top: 10px;
}

.faq-sub-header {
    font-size: 16px;
    font-weight: bolder;
    color: #080808;
    margin-top: 70px !important;
}

.faq-answer-content {
    font-size: 16px;
    margin-top: 2rem;
    margin-bottom: 4rem;
    color: #716d6d;
}


@media (max-width: 991.98px) {
    .home-content-header2 {
        display: none;
    }
}
